<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <title>Bruna Del Vecchio</title>
</head>
<body>
    <i class="bi bi-list menu-mobile"></i> <!-- Icone Hamburguer -->

    <aside id="header">
        <section class="profile">
            <img src="../static/img/bruna.webp" alt="Foto da Bruna">
            <h1 class="text-center">Bruna Del Vecchio</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.facebook.com/bruna.gabrieli.336">
                    <i class="bi bi-facebook"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/__delvecchio__/">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>
        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Início</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i> Habilidades</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i> Currículo</a>
              </li> -->
                <li class="nav-item">
                <a class="nav-link" href="#portifolio"><i class="bi bi-collection"></i> Inspire-se</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contato</a>
              </li>
            </ul>
        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <!--
                <div class="div-construcao">
                    <p class="text-white text-shadow">Página em construção</p>
                </div>
                -->
                <h2 class="text-white text-shadow">Bruna Del Vecchio</h2>
                <span id="subtitle" class="text-white text-shadow">Nail Designer</span>

            </div>
            <div class="col-md-7 d-flex justify-content-end align-items-end">

                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2"
                    aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>


            </div>
        </section>

        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Três anos cuidando da estética das unhas das minhas clientes aprendi muito
                        a meu respeito. Percebi que a criação dos meus próprios desenhos e a aplicação
                        das técnicas corretas enchiam-me de satisfação e encorajavam-me a buscar sempre
                        a perfeição e o aprimoramento. Neste ramo não dá para ficar parada nem mesmo
                        aplicar sempre o mesmo estilo. O céu é o limite para libertar a criatividade e
                        despejar, nas unhas que cuido, todo o poder das cores e texturas.</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow"
                         src="../static/img/bruna.webp"
                         alt="Foto da Bruna" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Nail Designer</h3>
                    <p>Atualmente cuido da estética das unhas das minhas clientes utilizando
                        diversas técnicas, desde a manicure tradicional, até os mais modernos
                        métodos de alongamentos de unhas.
                    </p>
                    <div class="row mt-3 mb-3">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                  <li class="list-group-item">
                                      Nascimento: <span class="fw-lighter">23 de Agosto de 2002</span>
                                  </li>
                                  <li class="list-group-item">
                                      Idade: <span class="fw-lighter">20 anos</span>
                                  </li>
                                  <li class="list-group-item">
                                      Cidade: <span class="fw-lighter">São Paulo</span>
                                  </li>
                                  <li class="list-group-item">
                                      Estado: <span class="fw-lighter">São Paulo</span>
                                  </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                  <li class="list-group-item">
                                      Hobby: <span class="fw-lighter">Jogos de tabuleiro</span>
                                  </li>
                                  <li class="list-group-item">
                                      Trabalho: <span class="fw-lighter">Cuido das suas unhas</span>
                                  </li>
                                  <li class="list-group-item">
                                      Experiência: <span class="fw-lighter">Três anos</span>
                                  </li>
                                  <li class="list-group-item">
                                      <span class="fw-lighter">Em um relacionamento sério</span>
                                  </li>
                                </ul>
                            </div>
                        </div>
                        <p>Tenho um cuidado especial ao fazer a manutenção e
                            retirada dos alongamentos sem prejudicar as unhas naturais
                            da cliente. Além disso, domino o lixamento técnico, as
                            propriedades de cada produto usado no alongamento e quais os
                            cuidados para manter as unhas sempre saudáveis.
                        </p>
                </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Neste tempo como profissional Nail Designer, adquiri
                    algumas habilidades técnicas e não técnicas. A maioria delas
                    estão aqui, conforme a porcentagem de conhecimento que
                    acredito ter em cada uma delas.</p>

                <div class="row">

                    <!-- Hard Skills (habilidades técnicas) -->
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Manicuração</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: 95%;" aria-valuenow="95" data-anime="left"
                                 aria-valuemin="0" aria-valuemax="100">95%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Cutilagem</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: 90%;" aria-valuenow="90" data-anime="left"
                                 aria-valuemin="0" aria-valuemax="100">90%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Esmaltação</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: 95%;" aria-valuenow="95" data-anime="left"
                                 aria-valuemin="0" aria-valuemax="100">95%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Alongamentos</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: 90%;" aria-valuenow="90" data-anime="left"
                                 aria-valuemin="0" aria-valuemax="90">70%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Lixamento técnico</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: 90%;" aria-valuenow="90" data-anime="left"
                                 aria-valuemin="0" aria-valuemax="100">90%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Manutenção</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: 100%;" aria-valuenow="100" data-anime="left"
                                 aria-valuemin="0" aria-valuemax="100">100%
                            </div>
                        </div>
                    </div>

                    <!-- Soft Skills (habilidades comportamentais adquiridas ao longo da vida) -->
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Gel UV</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: 95%;" aria-valuenow="95" data-anime="left"
                                 aria-valuemin="0" aria-valuemax="100">95%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Acrílico</p><!-- autoconsciência,
                        controle emocional, automotivação, empatia e habilidades sociais -->
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: 85%;" aria-valuenow="85" data-anime="left"
                                 aria-valuemin="0" aria-valuemax="100">85%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Fibra de vidro</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: 70%;" aria-valuenow="70" data-anime="left"
                                 aria-valuemin="0" aria-valuemax="100">70%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Acrigel</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: 85%;" aria-valuenow="85" data-anime="left"
                                 aria-valuemin="0" aria-valuemax="100">85%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Polygel</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: 90%;" aria-valuenow="90" data-anime="left"
                                 aria-valuemin="0" aria-valuemax="100">90%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Retirada dos Alongamentos</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: 95%;" aria-valuenow="95" data-anime="left"
                                 aria-valuemin="0" aria-valuemax="100">95%
                            </div>
                        </div>
                    </div>

                </div>

                <hr class="mt-5 w-50 me-auto ms-auto">

                <div class="row">

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: 85%;" aria-valuenow="85" data-anime="left"
                                 aria-valuemin="0" aria-valuemax="100">85%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: 75%;" aria-valuenow="75" data-anime="left"
                                 aria-valuemin="0" aria-valuemax="100">75%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Orientação a detalhes</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: 95%;" aria-valuenow="95" data-anime="left"
                                 aria-valuemin="0" aria-valuemax="100">95%
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: 75%;" aria-valuenow="75" data-anime="left"
                                 aria-valuemin="0" aria-valuemax="100">75%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: 80%;" aria-valuenow="80" data-anime="left"
                                 aria-valuemin="0" aria-valuemax="100">80%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: 85%;" aria-valuenow="85" data-anime="left"
                                 aria-valuemin="0" aria-valuemax="100">85%
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </section>


        <!--<section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Curriculo</h2>

                <div class="row">

                    <div class="col-md-6">

                        <h3 class="cv-title">Educação</h3>

                        <div class="cv-item" data-anime="up">
                            <h4>Ensino Fundamental</h4>
                            <h5>De xxxx a xxxx</h5>
                            <p><em>Escola Estadual Pedro II</em></p>
                            <p>R. Marta, 33 - Perdizes, São Paulo</p>

                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Ensino Médio</h4>
                            <h5>De xxxx a xxxx</h5>
                            <p><em>Escola Estadual Padre Antão</em></p>
                            <p>R. Santo Afonso, 273 - Penha de França, São Paulo</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Ensino Médio</h4>
                            <h5>De xxxx a xxxx</h5>
                            <p><em>CEEJA Dona Clara Mantelli</em></p>
                            <p>Av. Alcântara Machado, 4188 - Belem, São Paulo/p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Curso de ....</h4>
                            <h5>De xxxx a xxxx</h5>
                            <p><em>Escola Tal</em></p>
                            <p>Minha primeira experiência como aluna</p>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <h3 class="cv-title">Profissional</h3>

                        <div class="cv-item" data-anime="up">
                            <h4>Curso de ...</h4>
                            <h5>De xxxx a xxxx</h5>
                            <p><em>Escola Tal</em></p>
                            <p>Minha primeira experiência como aluna</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Curso de ...</h4>
                            <h5>De xxxx a xxxx</h5>
                            <p><em>Escola Tal</em></p>
                            <p>Minha primeira experiência como aluna</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Curso de ...</h4>
                            <h5>De xxxx a xxxx</h5>
                            <p><em>Escola Tal</em></p>
                            <p>Minha primeira experiência como aluna</p>
                        </div>

                    </div>

                </div>

            </div>

        </section> -->

        <section class="mt-5" id="portifolio">
            <div class="container pt-5">
                <h2 class="pb-4">Inspire-se</h2>
                <!-- Cards Bootstrap -->
                <div class="row row-cols-1 row-cols-md-2 g-4">
                  <div class="col">
                    <div class="card card-small" data-anime="left">
                      <img src="../static/img/pexels-cottonbro-studio-3997391.webp"
                           class="card-img-top img-small" alt="Cuidado com suas unhas">
                      <div class="card-body">
                        <h5 class="card-title">Manicuração</h5>
                        <p class="card-text">Além da arte, a manicure tradicional sempre estará presente.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card card-small" data-anime="left">
                      <img src="../static/img/pexels-rodnae-productions-7755653.webp"
                           class="card-img-top img-small" alt="Escolha a que mais combina">
                      <div class="card-body">
                        <h5 class="card-title">Possibilidades</h5>
                        <p class="card-text">Procure em um mostruário a unha que melhor lhe agrade.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card card-small" data-anime="left">
                      <img src="../static/img/pexels-roman-titov-9329773.webp"
                           class="card-img-top img-small" alt="Experiência">
                      <div class="card-body">
                        <h5 class="card-title">Todas idades</h5>
                        <p class="card-text">Não importa quantos anos você tenha.</p>
                      </div>
                    </div>
                  </div>
                    <div class="col">
                    <div class="card card-small" data-anime="left">
                      <img src="../static/img/pexels-cottonbro-studio-4004460.webp"
                           class="card-img-top img-small" alt="Experiência">
                      <div class="card-body">
                        <h5 class="card-title">Não esconda</h5>
                        <p class="card-text">Exiba toda a beleza de seus pés.</p>
                      </div>
                    </div>
                  </div>
                    <div class="col">
                    <div class="card card-small" data-anime="left">
                      <img src="../static/img/pexels-valeria-boltneva-939836.webp"
                           class="card-img-top img-small" alt="Experiência">
                      <div class="card-body">
                        <h5 class="card-title">Suavidade</h5>
                        <p class="card-text">O poder da suavidade e elegância em suas mãos.</p>
                      </div>
                    </div>
                  </div>
                    <div class="col">
                    <div class="card card-small" data-anime="left">
                      <img src="../static/img/pexels-karolina-grabowska-5206929.webp"
                           class="card-img-top img-small" alt="Experiência">
                      <div class="card-body">
                        <h5 class="card-title">Abuse</h5>
                        <p class="card-text">Não tenha medo. Use e abuse da sua imaginação.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card card-small" data-anime="left">
                      <img src="../static/img/pexels-stephanie-ho-994173.webp"
                           class="card-img-top img-small" alt="emojis">
                      <div class="card-body">
                        <h5 class="card-title">Emojis</h5>
                        <p class="card-text">Expresse seus sentimentos em todas as unhas.</p>
                      </div>
                    </div>
                  </div>
                    <div class="col">
                    <div class="card card-small" data-anime="left">
                      <img src="../static/img/pexels-cottonbro-studio-6963583.webp"
                           class="card-img-top img-small" alt="emojis">
                      <div class="card-body">
                        <h5 class="card-title">Agora</h5>
                        <p class="card-text">Sinta-se bem no seu dia a dia.</p>
                      </div>
                      </div>
                    </div>
                    <div class="col">
                    <div class="card card-small" data-anime="left">
                      <img src="../static/img/pexels-artem-podrez-4783259.webp"
                           class="card-img-top img-small" alt="emojis">
                      <div class="card-body">
                        <h5 class="card-title">Confie</h5>
                        <p class="card-text">Relaxe e deixe a transformação acontecer.</p>
                      </div>
                    </div>
                  </div>
                    <div class="col">
                    <div class="card card-small" data-anime="left">
                      <img src="../static/img/pexels-reafon-gates-7118662.webp"
                           class="card-img-top img-small" alt="belas unhas">
                      <div class="card-body">
                        <h5 class="card-title">Beleza</h5>
                        <p class="card-text">unhas limpas e bem cuidadas, atestam
                            positivamente sobre a qualidade de vida e o estilo de uma pessoa.</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </section> <!-- Leia-se: Inspire-se -->

        <section class="pt-5 section-bg" id="contato">
            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i>Localização:</h4>
                                <p>São Paulo, SP</p>
                            </div>
                            <div class="email">
                                <h4><i class="bi bi-envelop"></i>Email:</h4>
                                <p>bruna.delvecchio.contato@gmail.com</p>
                            </div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.0311259980394!2d-46.54318922471552!3d-23.531382878820356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5e43c7d4bedf%3A0xfcc4a390bad6b553!2sAv.%20Dr.%20Or%C3%AAncio%20Vidigal%20-%20Vila%20Carlos%20de%20Campos%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2003640-010!5e0!3m2!1spt-BR!2sbr!4v1670143084263!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100">
                            </iframe>
                        </div>
                    </div>
                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">
                            <form class="row g-3" action="/send" method="POST">
                              <div class="col-md-6">
                                <label for="nome" class="form-label">Nome:</label>
                                <input type="text" class="form-control" id="nome"
                                name="nome" placeholder="Digite seu nome" required>
                              </div>
                              <div class="col-md-6">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="email"
                                name="email" placeholder="Digite seu email" required>
                              </div>
                              <div class="col-12">
                                <label for="mensagem" class="form-label">Mensagem:</label>
                                  <!-- No caso da tag textarea, para o placeholder funcionar,
                                  a abertura e fecho da tag têm de estar na mesma linha e sem espaços. -->
                                <textarea class="form-control" id="mensagem" name='mensagem' rows="10" placeholder="Digite sua mensagem" required></textarea>
                              </div>
                              <div class="col-12 d-flex justify-content-center mt-4">
                                <button id="btn-enviar" type="submit" class="btn btn-outline-primary">Enviar Mensagem</button>
                                    <button id="btn-enviar-loader" class="btn btn-primary" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Enviando...
                                    </button>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer id="footer">
            <div class="container">
                <div class="text-center">
                    &copy; Copyright <strong>Bruna Del Vecchio</strong>
                </div>
            </div>
        </footer>

        <!-- Mensagem que aparece quando o email foi enviado -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
          <i class="bi bi-check-circle-fill"></i> {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <!------------------------------------------------------------->

    </main>

    <script src="../static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
</body>
</html>